@import '../../assets/scss/variables';
@import '../../assets/scss/mixins';

.pagination {
  @include margin-top(2);
  display: flex;

  &__prev {
    width: 50%;
    text-align: left;

    &-link {
      color: $color-secondary;
      font-size: 24px;
      font-weight: 900;

      &:hover,
      &:focus {
        color: lighten($color-secondary, 15%);
      }

      &--disable {
        pointer-events: none;
        color: lighten($color-gray, 30%);
      }

    }

  }

  &__next {
    width: 50%;
    text-align: right;

    &-link {
      color: $color-primary;
      font-size: 24px;
      font-weight: 900;

      &:hover,
      &:focus {
       color: lighten($color-primary, 15%);
      }

      &--disable {
        pointer-events: none;
        color: lighten($color-gray, 30%);
      }

    }

  }

}
