@import '../../../assets/scss/variables';
@import '../../../assets/scss/mixins';

.author {
  @include margin(2, 0, 1.5, 0);
  &__photo {
    border-radius: 5px;
    background-clip: padding-box;
  }

  &__title {
    font-size: $typographic-base-font-size * 1.3;
    font-weight: 400;
    @include line-height(1.125);
    @include margin(1, 0, 0, 0);
    &-link {
      color: $color-base;

      &:hover,
      &:focus {
        color: lighten($color-base, 25%);
      }

    }

  }

  &__subtitle {
    color: lighten($color-base, 25%);
    font-size: $typographic-base-font-size * 0.85;
    @include line-height(0.9);
    @include margin-bottom(1);
    text-align: left;
  }

}
