@import '../../../assets/scss/variables';
@import '../../../assets/scss/mixins';

.contacts {
  @include margin-bottom(1);
  @include margin-top(1);

  &__list {
    display: flex;
    flex-flow: row wrap;
    flex-grow: 0;
    flex-shrink: 0;
    list-style: none;
    padding: 0;
    margin: 5px -3px;
    justify-content: baseline;

    &-item {
      padding: 0;
      margin: 5px;
      height: $button-height;
      width: $button-height;
      line-height: $button-height;
      border-radius: 3px;
      border: 1px solid $color-gray-bg;

      &-link {
        border: 0;
        color: $color-base;
  
        &:hover,
        &:focus {
          color: $color-secondary;
        }

      }

    }

  }

}
