@import '../../../assets/scss/variables';
@import '../../../assets/scss/mixins';

.menu {
  @include margin-bottom(1.5);

  &__list {
    list-style: none;
    padding: 0;
    margin: 0;

    &-item {
      padding: 0;
      margin: 10px 0;

      &-link {
        font-size: $typographic-base-font-size;
        color: lighten($typographic-base-font-color, 20%);
        font-weight: 400;
        border: 0;
        transition: all 0.5s;

        &:hover,
        &:focus {
          color: $color-secondary;
        }

        &--active {
          color: $color-secondary;
        }

      }

    }

  }

}
